asgiref==3.11.1
breadability==0.1.20
certifi==2026.6.17
chardet==7.4.3
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
Django==6.0.6
docopt==0.6.2
docopt-ng==0.9.0
et_xmlfile==2.0.0
gunicorn==26.0.0
idna==3.18
img2pdf==0.6.3
joblib==1.5.3
lxml==6.1.1
lxml_html_clean==0.4.5
nltk==3.9.4
numpy==2.5.0
openpyxl==3.1.5
packaging==26.2
pikepdf==10.9.1
pillow==12.2.0
pycountry==26.2.16
PyMuPDF==1.27.2.3
python-docx==1.2.0
python-dotenv==1.2.2
python-pptx==1.0.2
regex==2026.5.9
reportlab==5.0.0
requests==2.34.2
setuptools==82.0.1
sqlparse==0.5.5
sumy==0.12.0
tqdm==4.68.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
xlsxwriter==3.2.9
